@model PagedList.IPagedList<TModel.GetTweets_MResult>
@using PagedList.Mvc;
<div class="row">
    <a href="@Url.Action("Index", "Home", null)" style="font-weight:bold">
        Home<img src="\Images\Twitter-featured.png" style="vertical-align: middle; margin-top:12px; max-width:30px; max-height:30px; ">
    </a>
</div>
<div class="row" style="font-weight:bold">
    Tweets
</div>

<div class="row">
    <ul class="list-group">
        @foreach (var tweet in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @tweet.Message
                <span id="Tid" class="badge badge-primary badge-pill" style="background-color: #1ab5ff">
                    <a id ="aEdit" style="color:white;" href="javascript: EditTweet(@tweet.Tweet_Id)">Edit</a>
                </span>
                <span id="T1id" class="badge badge-primary badge-pill" style="background-color: #1ab5ff">
                    <a id ="aDelete" style="color:white;" href="javascript: DeleteTweet(@tweet.Tweet_Id)">Delete</a>
                   
                </span>
            </li>
        }
    </ul>
</div>


